.App {
  text-align: center;
  width:100vw;
  height: 100vh;
  font-family: 'Roboto Regular', arial;
}

.App-logo {
  height: min( calc(20px + 7vw), 15vh);
  min-height: 7vh;
  pointer-events: none;

  display: inline-block;
  position:absolute;
  left:calc(28vh + 7vw);
  top:0px;
  bottom: 0px;
  margin-bottom:auto;
  margin-top:auto;
  margin-left:0vh;
}

h1 {
  display:inline-block;
  position: absolute;
  left: 0px;
  top:-8px;
  bottom: 0px;
  margin-left:12vw;
  height: 100%;
  margin-bottom: 0px;
}


.flex-grid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tablero {
  position: absolute;
  top:19vh;

  height: min(60vh, 72vw);
  width: min(60vh, 72vw);
  min-width: 35vh;
  min-height: 35vh;

  border:solid 3px black;
  border-radius: 5%;

  left: 0px;
  right: 0px;
  margin-right:auto;
  margin-left:auto;

  padding: 0px;
}
.panel-numerico {
  position: absolute;
  top: max( calc(22vh + min(60vh, 72vw)), 400px);
  justify-content: center;

  height: 15vh;
  width: 70vw;

  left: 0px;
  right: 0px;
  margin-right:auto;
  margin-left:auto;

}

.cuadrado {
  width:31%;
  margin: auto;
  padding:0px;

  height: 31%;

  border: solid 3px grey;
  border-radius: 10%;
}

.celda {
  box-sizing:border-box;  

  width: 31%;
  height: 31%;
  overflow: hidden;
  margin: auto;
  padding:auto;

  line-height: 240%;
  text-align: center;
  font: bold 220% monospace;

  background: white;
  border: solid 1px grey;
  border-radius: 20%;
  justify-content: center;
}
.celda-anotaciones{
  width: 26%;
  height: 26%;
  overflow: hidden;
  margin: auto;
  padding:auto;
  font: bold 30% monospace;
  color: rgb(66, 66, 66);
}


/* .ejemplo {
  border: solid 4px red;
} */
.numero-boton {
  width: min(9vh, 6vw);
  height: min(9vh, 6vw);
  margin: 2px max(4px, 0.5vw);

  font-family: 'Open Sans Condensed', arial;
  font: normal 190% 'Open Sans Condensed';
  line-height: 160%;

  min-width: 40px;
  min-height: 40px;

  background: white;
  border: solid 1px grey;
  border-radius:50%;

}

.contenedor-modo-boton {
  position: absolute;
  top:50vh;
  left:5vw;
  z-index: 10;

  justify-content: center;
  display:flexbox;
  flex-wrap: wrap;
  width: 120px;
}
.texto-modo-boton {
  justify-content: left;
}

.modo-boton {
  width:30px;
  height:30px;

  border: solid 3px grey;
  border-radius: 15%;
  position:inherit;
  left:0;
  right:0;
  margin: 3px auto;
}
.clickado {
  background-color: chartreuse;
}



.resaltada {
  background: pink;
}

.clickada {
  background: red;
}

.repetida {
  background: red;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  position: fixed;
  background-color: #282c34;
  box-sizing: content-box;
  height: 13vh;
  font-size:20px;
  color: white;
  width: 400px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 400px) {
  .App-header {
    font-size: min(calc(5px + 4vw), 4vh);
    width: 100vw;
  }

  .App-logo {
    margin-left: min(7vh, 5vw + 2vh);
    height: min(12vh, calc(15vw ));
  }

  h1 {
    margin-top: min(calc(3.2vh + 4vw), 3.5vh);
    margin-left:8vh;
  }
  
}

@media screen and (max-width: 470px) {
  .tablero{
    border: solid 3px black;
  }

  .cuadrado {
    margin: 0px;
    border: solid 1px gray;
  }
  
  .celda {

    font: bold 170% monospace;
    line-height: 150%;
  }

  .numero-boton {
    font: lighter 230% monospace;
    line-height: 140%;
  }
}
@media screen and (max-width: 395px) {
  .celda {
    font: bold 140% monospace;
    line-height: 120%;
  }
}